#OSS WLAN setup
service addrsetup /system/bin/addrsetup /sys/devices/fb000000.qcom,wcnss-wlan/wcnss_mac_addr
    class main
    user root
    oneshot

#OSS BT setup
service bt_addr /system/bin/btnvtool -I
    user root
    group root
    oneshot
